<div class="small-12 columns banner-container">
  <div class="small-9 small-centered columns">
    <h1 class="new-account"><i class="fa fa-globe"></i> United Airlines</h1>
    <p>Your Boarding Pass</p>
    <p>made mobile.</p>
  </div>
</div>




