<div class="small-12 columns banner-container">
  <div class="small-9 small-centered columns">
    <% if current_user %>
      <h1 class="name"><%= current_user.first_name %></h1>
      <h2><i class="fa fa-globe"></i></h2>
      <p>Thanks for flying with us today!</p>
      
      <h2>How can I help you?</h2>
      <h2><i class="fa fa-angle-double-down"></i></h2>
    <% else %>
      <h1 class="new-account"><i class="fa fa-globe"></i> United Airlines</h1>
      <p>Your Boarding Pass</p>
      <p>made mobile.</p>
    <% end %>
  </div>
</div>

<% if current_user %>
  <div class="small-12 columns boarding-pass">
    <div class="small-12 columns check-in">
      <h4><i class="fa fa-check-circle-o"></i> Check In </h4>
      <div class="small-12 columns boarding-pass-details">
        <h1>UA 2323</h1>
        <h5>TORONTO PEARSON INTL <i class="fa fa-arrow-right"></i> NYC LA GUARDIA</h5>
        <h5>Terminal 1 - Gate 12</h5>
        <div class="small-6 small-centered columns">
          <%= image_tag "qr_code.jpg" %>
        </div>
      </div>
    </div>
  </div>
  <div class="small-12 columns flight-status">
    <div class="small-12 columns check-in">
      <h4><i class="fa fa-clock-o"></i> Flight Status</h4>
    </div>
  </div>
  <div class="small-12 columns book-a-flight">
    <div class="small-12 columns check-in">
      <h4><i class="fa fa-plane"></i> Book Flight</h4>
    </div>
  </div>
<% end %>

