// ALERTS AND NOTICES

#alert, 
#notice {
  color: white;
  background-color: blue; 
  margin-bottom: 5px;
  text-align: center;
  text-shadow: 1px 1px 5px black;
  border-radius: 5px;
}

#alert { background-color: #e74c3c; }
#notice { background-color: #1abc9c; }
// LOGIN, LOGOUT & SIGNUP BUTTONS

.nav {
  text-align: center;
  
  .logout {
    padding-top: 2em;
    padding-bottom: 2em;
    .logout-btn {
      color: white;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
    }
  }

  .login { 
    background-color: #3498db;
    margin-top: 1em;
    padding-top: 1em; 
    padding-bottom: 1em;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    .login-btn {
      color: white;
    }
  }

  .sign-up {
    background-color: #27ae60;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    .sign-up-btn {
      color: white;
    }
  }
}

// NEW USER SIGN UP FORM

.new-account-title { 
  color: white; 
  padding-top: 1em;
  font-family: "Montserrat", sans-serif;
  text-align: center; }

.errors { 
  background-color: white; 
  margin-bottom: 1em; 
}

#error_explanation {  
  padding: 0.5em;

  .fa.fa-exclamation-triangle { 
    color: #e74c3c; 
  }
}

.create-new-account {
  padding-top: 1em;
  padding-bottom: 1em;

  label {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    text-align: center;
  }
  .account-field {
    margin-bottom: 2em;
  }
}

// NEW USER_SESSION LOGIN FORM

.login-form {
  margin-bottom: -3px;
  padding-top: 2em;
  padding-bottom: 2em;
  h3 {
    background-color: lightblue;
    color: black;
    font-family: "Montserrat", sans-serif;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
  }
  label {
    color: white;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }

  .login-btn {
    background-color: #fc0;
    border-bottom: 5px solid darkorange;
    color: black;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 4em;
  }
 
}

.register-block {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 2em;

    h3 {
      background-color: rgba(39, 174, 96,1.0);
      font-family: "Montserrat", sans-serif;
      color: white;
      padding: 25px;
      text-align: center;
    }
    .register-btn {
      color: white;
      background-color: green;
      border-bottom: 5px solid rgba(22, 160, 133,1.0);
      font-family: "Montserrat", sans-serif;
      margin-top: 2em;
    }

}